<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Declara o argumento com o valor padrão para simulação -->
    <xacro:arg name="use_sim_time" default="true" />

    <ros2_control name="HadesSystem" type="system">
        <hardware>
            <!-- Se for simulação, usa o Gazebo -->
            <xacro:if value="$(arg use_sim_time)">
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </xacro:if>
            
            <!-- Se for o robô real, carrega a interface de hardware do seu microcontrolador -->
            <xacro:unless value="$(arg use_sim_time)">
                <plugin>hades_hardware/ESP32HardwareInterface</plugin>
            </xacro:unless>
        </hardware>

        <joint name="front_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        
        <joint name="back_left_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="back_right_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <xacro:if value="$(arg use_sim_time)">
        <gazebo>
            <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                <!-- Adicione estas duas linhas abaixo -->
                <robot_param>robot_description</robot_param>
                <robot_param_node>robot_state_publisher</robot_param_node>
                <parameters>$(find hades_control)/config/controllers.yaml</parameters>
            </plugin>
        </gazebo>
    </xacro:if>
</robot>